body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     }



.header--main{
    font-weight: normal;
    font-size: 50px;
    color: #ffff
    ;

}
.header--secondary{
color: #ffffff;
font-size: 42px;
font-weight: 300;

}
.header-sub-header{
font-size: 21px;
color:grey;

}

.link--cta {
    font-size: 16px;
    color: aquamarine;

}

.footer{
    font-size: 21px;
    color:grey;
    text-align: right;
}
